.about_us--container{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 10rem 0;
    padding: 10rem 0;
    border-top: 1px solid black;
    letter-spacing: 1px;
    line-height: 2rem;
  }
  
  .about_us--content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    width: 100%;
  }
  
  .about_us--content img{
    min-width: 700px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;
  }
  
  .lazy-img{
    filter: blur(20px);
  }
  
  .about_us--content p{
    font-size: 1.5rem;
    text-align: justify;
  }
  
  .reverse{
    flex-direction: row-reverse;
  }