.about_us--container{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 10rem 0;
    padding: 10rem 0;
    border-top: 1px solid black;
  }
  
  .about_us--content{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 4rem 0;
    width: 100%;
  }
  
  .about_us--content img{
    width: 700px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;
  }
  
  .lazy-img{
    filter: blur(20px);
  }
  
  .about_us--content-text{
    margin-top: 2rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    width: 400px;
  }
  
  .about_us--content-text h1{
    margin-bottom: 2rem;
  }
  
  .about_us--content-text p{
    color: var(--color-logo);
    font-size: 1.2rem;
    text-align: justify;
  }
  
  .reverse{
    flex-direction: row-reverse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10rem 0;
  }

  .reverse h1{
    text-align: right;
  }
