.book--container{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    transform: translateY(100%);
    transition: 0.7s ease-out;
    opacity: 0;
}

.book--container-visible{
  transform: translateY(0);
  opacity: 1;
}

.form--book{
    margin: auto;
    width: 900px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-logo);
    color: var(--color-light);
    position: relative;
    box-shadow: 0 0 5px var(--color-logo);
    border: 1px solid black;
    border-bottom: none;
    padding: 1rem 0;
  }
  
  .form--book label{
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  
  .form--select{
    height: 30px;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .form--date{
    height: 30px;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .form--submit{
    background-color: transparent;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 60px;
  }
  
  .form--submit:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-light);
  }
  
  .form--submit img{
    width: 30px;
    height: 30px;
  }

  .choose--date{
    width: 100px;
    margin-right: 0.5rem;
  }

  .map--under{
    z-index: -1;
    transition: none;
  }