.contact--container{
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: var(--color-light);
    text-align: center;
}

.contact--container img{
    margin-top: 3rem;
    width: 100%;
}

.contact--container h2{
    margin-top: 1rem;
}

.contact--container h3{
    margin-top: 1rem;
}

.contact--container p{
    margin: 0.5rem 0;
    font-size: 1rem;
}
.contact_form--link{
    text-decoration: none;
}

.contact_form--link:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 610px){
    .contact--container{
        display: none;
    }
}