.contact--form{
    position: fixed;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 10rem 0;
    padding: 2rem;
    gap: 1rem;
    color: white;
    background-color: var(--color-black-transparent);
    box-shadow: 0 2px 9px 0 #00000080;
    backdrop-filter: blur(5px);
    z-index: 333;
  }
  
  .contact--form span{
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .form--contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form--contact input{
    height: 30px;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-light);
  }
  
  .form--contact select{
    height: 30px;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-light);
  }
  
  .form--contact textarea{
    border-radius: 10px;
    border: none;
    background-color: var(--color-light);
  }
  
  .form--contact .form--contact-message{
    height: 100px;
    width: 300px;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .button{
    width: 60px;
    font-size: 1.3rem;
    align-self: center;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    padding: 5px;
  }

  .button--hide{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
  }

  .button--hide img{
    width: 20px;
  }

  .button:hover{
    cursor: pointer;
  }

  .modal--success{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: auto;
    text-align: center;
    background-color: var(--color-light);
    color: black;
    box-shadow: 0 0 4px black;
    border-radius: 5px;
    z-index: 222;
  }

.modal--success-image{
  position: absolute;
  z-index: -1;
  top: -60px;
  border-radius: 100%;
  box-shadow: 0 0 2px black;
}

  body.modal--open {
    overflow: hidden;
  }

  body.modal--open::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 111;
  }

  .button--close-modal{
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 30px;
    background-color: var(--color-green);
    border: 1px solid var(--color-highlight);
    border-radius: 10px;
    font-size: 1.1rem;
  }

  .button--close-modal:hover{
    cursor: pointer;
    background-color: var(--color-highlight);
  }

  .message--error{
    position: absolute;
    bottom: 10px;
    left: 145px;
    text-decoration: underline;
    color: var(--color-light);
    font-weight: bold;
    text-align: center;
  }

  .hidden{
    display: none;
  }

  @media only screen and (max-width: 500px){
    .contact--form{
      width: 300px;
    }
  }

  @media only screen and (max-width: 370px){
    .contact--form{
      padding: 1rem;
      width: 250px;
    }

    .form--contact{
      width: 200px;
    }

    .form--contact .form--contact-message{
      width: 184px;
    }
  }