footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-black);
    color: var(--color-light);
    height: 70px;
  }

  .footer--logo{
    position: absolute;
    left: 20px;
    font-size: 2rem;
    user-select: none;
    color: var(--color-light);
    border: 2px solid var(--color-light);
    padding: 0.5rem;
  }

  @media only screen and (max-width: 610px){
    footer{
      justify-content: space-around;
    }

    .footer--logo{
      position: inherit;
    }
  }

  @media only screen and (max-width: 420px){
    .footer--logo{
      left: 20px;
      font-size: 1.5rem;
      user-select: none;
      color: var(--color-light);
      border: 2px solid var(--color-light);
      padding: 0.5rem;
    }

    footer p{
      font-size: 0.8rem;
    }
  }