.map--container{
    height: 400px;
    width: 500px;
    margin-left: 5rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transform: translateY(26%);
    transition: 0.7s ease-out;
    opacity: 0;
  }

  .map--container-visible {
    transform: translateY(0);
    opacity: 1;
  }
  
.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 250px;
    height: 130px;
    padding: 0 10px;
    font-size: 1rem;
}
  
.leaflet-popup .leaflet-popup-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
  
.hotel--head{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
  
.hotel--details{
    margin-top: 10px;
}
  
.hotel--review{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-weight: bold;
}
  
.leaflet-popup .leaflet-popup-content-wrapper img{
    width: 70px;
}
  
.leaflet-popup .leaflet-popup-tip{
    background-color: var(--color-dark);
}

.leaflet-container a.leaflet-popup-close-button{
    color: var(--color-light);
}

@media only screen and (max-width: 1050px){
    .map--container{
        width: 350px;
        height: 300px;
        margin-left: 1rem;
    }
}