.map--container{
    max-height: 600px;
    width: 900px;
    margin: auto;
    border: solid 1px black;
    border-top: none;
    box-shadow: 0 0 5px var(--color-logo);
    z-index: 1;
    position: relative;
    overflow: hidden;
    transform: translateY(26%);
    transition: 0.7s ease-out;
    opacity: 0;
  }

  .map--container-visible {
    transform: translateY(0);
    opacity: 1;
  }
  
.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 250px;
    height: 130px;
    padding: 0 10px;
    font-size: 1rem;
}
  
.leaflet-popup .leaflet-popup-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
  
.hotel--head{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
  
.hotel--details{
    margin-top: 10px;
}
  
.hotel--review{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-weight: bold;
}
  
.leaflet-popup .leaflet-popup-content-wrapper img{
    width: 70px;
}
  
.leaflet-popup .leaflet-popup-tip{
    background-color: var(--color-dark);
}