.overlay{
    content: '';
    position: fixed;
    bottom: 0;
    left: -21%;
    z-index: 1;
}

.overlay--active{
    width: 200%;
    height: 100%;
    background-color: var(--color-black-transparent);
    z-index: 444;
}

.newsletter{
    width: 300px;
    height: 140px;
    padding: 15px 20px;
    background-color: var(--color-black-transparent);
    color: white;
    box-shadow: 0 2px 9px 0 #00000080;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 40%;
    right: 10px;
    z-index: 333;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
}

.newsletter--message{
    margin: 2rem 1rem;
}

.newsletter--mail{
    width: 200px;
    height: 14px;
    padding: 5px;
    border: 1px solid #ffffff5e;
    background-color: #0000004f;
    color: white;
}

.newsletter--mail:focus{
    outline: none;
}

.button_newsletter--submit{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 24px;
    right: 70px;
}

.button_newsletter--submit img{
    width: 24px;
}

.button_newsletter--submit:hover{
    cursor: pointer;
}

.button_newsletter--close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

.button_newsletter--close img{
    width: 16px;
}

.button_newsletter--close:hover{
    cursor: pointer;
}

.newsletter--error{
    height: 20px;
    font-size: 0.9rem;
    position: absolute;
    bottom: -30px;
}

.newsletter--confirm{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -40px;
    left: -830px;
    width: 400px;
    height: 300px;
    background-color: var(--color-light);
    box-shadow: 0 2px 9px 0 #00000080;
    color: black;
    z-index: 555;
    text-align: justify;
    padding: 0 2rem;
    font-size: 0.9rem;
}

.newsletter--confirm p{
    user-select: none;
}

.newsletter--confirm h2{
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.newsletter--confirm--bottom{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter--confirm--checkbox{
    margin-right: 0.7rem;
}

.newsletter--confirm--regulations-accept{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.newsletter--confirm--regulations--declined{
    margin-top: 1rem;
    color: red;
    font-weight: bold;
    text-decoration: underline;
    user-select: none;
}

.buttons_newsletter--confirm{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
}

.button_newsletter--confirm--accept{
    width: 100px;
    height: 30px;
    background-color: #61df61;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.button_newsletter--confirm--decline{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #a0a0a0;
    font-size: 1.1rem;
    font-weight: bold;
}

.button_newsletter--confirm--accept:hover,
.button_newsletter--confirm--decline:hover{
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

.administrator--data{
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: var(--color-black-transparent);
    user-select: none;
}

.newsletter--hidden{
    transform: translateX(400px);
    transition: transform 0.3s ease;
}

.newsletter--confirm--regulations--load{
    position: absolute;
    animation: load 1s linear infinite;
}

.newsletter--confirm--regulations--positive{
    position: absolute;
    border-radius: 100%;
}

.newsletter--confirm--regulations--positive img{
    border-radius: 100%;
    box-shadow: 0 2px 9px 0 #00000080;
}

.hidden{
    display: none;
}

@keyframes load {
    100%{transform: rotate(360deg);}
}