.other--list{
    text-align: right;
    margin-top: 2rem;
}

.other--list ul{
    list-style: none;
    letter-spacing: 0.1rem;
    color: var(--color-light);
    line-height: 2rem;
}

.other--list a:hover{
    cursor: pointer;
}

.other--list ul li a{
    text-decoration: none;
    color: var(--color-light);
    position: relative;
  }

.other--list ul li a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-light);
    transition: width 0.25s ease-out;
  }

  .other--list ul li a:hover::before{
    width: 100%;
  }

  @media only screen and (max-width: 1050px){
    .other--list{
      margin-left: 1rem;
    }
  }