.spa--container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 5rem;
    margin-bottom: 15rem;
}

.spa--container h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.spa--overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    min-width: 100%;
    z-index: -1;
    filter: brightness(0.4);
}

.spa--container-details{
    width: 70%; 
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.spa--container-details img{
    margin-top: 3rem;
    width: 700px;
    height: 100%;
}

.spa--container-details_text{
    display: flex;
    flex-direction: column;
}

.spa--container-details_text h2{
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.spa--container-details_text p{
    line-height: 2rem;
    text-align: justify;
}

.spa--container p{
    font-size: 1.3rem;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1800px){
    .spa--container-details{
        margin: 0;
    }

    .spa--container-details img{
        margin-top: 6rem;
        width: 600px;
    }
}

@media only screen and (max-width: 1580px){
    .spa--container-details{
        width: 90%;
    }

    .spa--container-details img{
        margin-top: 6rem;
        width: 600px;
    }
}

@media only screen and (max-width: 1210px){
    .spa--container{
        padding: 2rem;
    }

    .spa--container-details img{
        margin-top: 4rem;
        width: 500px;
    }

    .spa--container-details_text{
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 1015px){

    .spa--container-details img{
        margin-top: 4rem;
        width: 400px;
    }

    .spa--container-details_text p{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 820px){

    .spa--container-details{
        flex-direction: column-reverse;
    }

    .spa--container-details_text p{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 610px){

    .spa--container-details img{
        margin-top: 0;
    }

    .spa--container-details_text{
        margin-top: 1rem;
    }
}