:root{
  --color-dark: #616060;
  --color-background: #faf9f9;
  --color-light: #f5f5f5;
  --color-highlight: #c9c5c5;
  --color-minor: #CF995F;
  --color-logo: #3b3b3b;
  --color-orange: #F63E02;
  --color-silver: #BEB0A7;
  --color-orange2: #F17300;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  font-family: courier;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

.main--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--container hr{
  border-top: 1px solid black;
  width: 100%;
  margin: 10rem;
}

.mid--container{
  display: flex;
  justify-content: space-around;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffffe8;
}

.section{
  transition: transform 1s, opacity 1s;
}

.section--hidden{
  opacity: 0;
  transform: translateY(150px);
}

.essentials{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: var(--color-logo);
}

/* **************ANIMATIONS*************** */

@keyframes expandAnimation{
  0% {
      height: 350px;
  }
  100% {
      height: 700px;
  }
}

@keyframes collapseAnimation{
  0% {
      height: 700px;
  }
  100% {
      height: 350px;
  }
}